*{
    border: 1px;
    min-height: 10px;
}
body{
    background: black;

}
.body{
    background: #fff;
    font-family: "Architects Daughter", cursive;
}
.postcard{
    width: 450px;
    height: 300px;
    background: white;
    margin: auto;
    font-family: "Architects Daughter", cursive;
}
.header{
    display: flex;
}
.header h1{
    width: 100%;
    margin: 0;
}
.header img{
    width: 50px;
    height: 50px;
}
.body{
    display: flex;
}
.left-body p:first-child{
    margin-top: 0;
}
.left-body, .right-body{
    padding: 10px;
}
input{
    border: none;
    border-bottom: 1px grey solid;
}
.footer{
    text-align: center;
}
button{
    background-color: #b4b4b4;
    padding: 5px 10px;
    font-family: "Architects Daughter", cursive;
}